/* SOMMAIRE */
/**************************************************************/
/* 01_Configuration générale du style */
/* 02_Header */
/* 03_Bannière */
/* 04_Pop-up */
/* 05_Personnalisation du formulaire de contact Contact Form 7*/
/* 06_Galeries d'images*/
/* 07_Effet de superposition au survol d'une image à partir d'une galerie d'images */
/* 08_Personnalisation de la fenêtre lightbox Fancybox */
/* 09_Listes déroulantes pour le filtrage des images */
/* 10_Publication personnalisée sur une single-custom.php */
/* 11_Navigation entre les publications personnalisées */
/* 12_Footer */
/**************************************************************/

/* 01_Configuration générale du style */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-Light.ttf") format("ttf");
  src: url("./assets/fonts/poppins/Poppins-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/space_mono/SpaceMono-Bold.ttf") format("ttf");
  src: url("./assets/fonts/space_mono/SpaceMono-BoldItalic.ttf") format("ttf");
  src: url("./assets/fonts/space_mono/SpaceMono-Italic.ttf") format("ttf");
  src: url("./assets/fonts/space_mono/SpaceMono-Regular.ttf") format("ttf");
}

:root {
  --main-bg-color: #ffffff;
  --main-text-color: #000000;
  --black-shadow: rgba(0, 0, 0, 0.3);
  --button-color: #d8d8d8;
  --overlay-page: #00000060;
  --input-border: #b8bbc2;
  --selected_item: #e00000;
  --hover_items: #ffd6d6;
}

* {
  box-sizing: border-box;
}

.admin-bar .top {
  top: 32px;
}

html {
  width: 100%;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
li a {
  font-family: "Space Mono", monospace;
}

p {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p {
  color: var(--main-text-color);
}

a,
input,
button,
li {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  list-style: none;
}

main,
.main-single {
  margin: 0;
}

.main-single {
  display: flex;
  justify-content: center;
}

.main-page {
  display: flex;
  flex-direction: column;
}

figure {
  margin: 0;
  padding: 0;
}

/* 02_Header */
.site-header {
  position: sticky;
  display: grid;
  width: 100%;
  height: 80px;
  top: 0;
  background-color: var(--main-bg-color);
  align-items: center;
  padding: 0 5vw 0 5vw;
  z-index: 999;
  box-shadow: 0 0 6px 0 var(--black-shadow);
}

.site-header .main-navigation {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.site-header .main-navigation .site-title {
  width: 100%;
  z-index: 1000;
}

.site-header .main-navigation .site-title a {
  padding-left: 3rem;
}

.site-header .main-navigation .burgerMenu {
  display: none;
}

.top_logo a > img {
  max-width: 13rem;
  height: auto;
}

.site-header .main-navigation .burgerMenu #icons {
  display: none;
}

.site-header .main-navigation .menu-navigation ul {
  display: flex;
  align-items: center;
  width: 100%;
}

.site-header .main-navigation .menu-navigation ul li a {
  font-size: 1rem;
  color: var(--main-text-color);
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-wrap: nowrap;
  padding-right: 2rem;
  transition: all 200ms;
  white-space: nowrap;
}

.top_menu li > a:hover,
.bottom_menu li > a:hover {
  font-weight: 700;
}

#menu-item-42 {
  cursor: pointer;
}

/* 03_Bannière */
.banner {
  width: 100%;
  max-height: 962px;
  display: flex;
  position: relative;
  z-index: 727;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner_image {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 96vh;
  object-fit: cover;
  object-position: center;
}

.banner_text {
  position: absolute;
  top: 40%;
  z-index: 729;
  text-align: center;
  width: 100%;
}

.banner_text p {
  font-size: 5.46rem;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 142px;
  letter-spacing: 1px;
  color: transparent;
  -webkit-text-stroke: 3px var(--main-bg-color);
  background-clip: text;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

/* 04_Pop-up */
.popup_overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 10000;
  transition: opacity 0.3s ease;
}

.modal {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-bg-color);
  max-width: 417px;
  height: 589px;
  border: 5px solid var(--main-text-color);
  z-index: 10001;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.popup_header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
}

.popup_header > img {
  max-height: 72.05px;
}

.popup_details {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

/* 05_Personnalisation du formulaire de contact Contact Form 7*/
.wpcf7-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 225px;
}

.wpcf7-form p {
  margin: 0 auto;
}

.wpcf7-form p label,
.wpcf7-submit {
  font-family: "Poppins", sans-serif;
  font-size: 0.65rem;
  text-transform: uppercase;
}

.wpcf7-form p label span input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wpcf7-text,
.wpcf7-email,
.wpcf7-textarea {
  border: 1px solid var(--input-border);
  padding: 10px;
  border-radius: 8px;
  width: 225px;
  margin: 2px auto;
  align-self: center;
}

.wpcf7-submit,
.btn {
  text-decoration: none;
  width: 225px;
  border-radius: 2px;
  margin-top: 0.9em;
  padding: 0.75rem;
  background-color: var(--button-color);
  font-family: "Space Mono", monospace;
  font-size: 0.75rem;
  text-transform: none;
  cursor: pointer;
  transition: all 200ms;
  text-align: center;
  color: var(--main-text-color);
}

.wpcf7-submit:hover,
.btn:hover {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  font-weight: 700;
}

/* 06_Galeries d'images*/
.homepage_gallery,
.single_gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 3em;
  align-items: center;
}

.homepage_gallery {
  padding-top: 6em;
  margin: 0 8vw;
}

.single_gallery {
  padding: 0;
  align-items: unset;
  text-align: left;
}

.single_gallery h3 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2em 0 1em 0;
}

.single_gallery > .gallery_grid {
  margin: 0;
}

.gallery_grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#gallery_grid_homepage {
  margin-top: 2em;
}

.gallery_card,
.overlay_post {
  padding: 0px;
  cursor: pointer;
  height: 64.45vh;
  width: 100%;
}

.gallery_card {
  position: relative;
}

.gallery_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.fail_filters {
  font-family: "Poppins", sans-serif;
  transform: translate(50%, 0);
  font-size: 0.75rem;
  text-align: center;
}

/* 07_Effet de superposition au survol d'une image à partir d'une galerie d'images */
.overlay_post {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  transition: background-color 0.3s;
  opacity: 0;
}

.gallery_card:hover .overlay_post {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.overlay_post_header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

.overlay_post_header > a img {
  max-width: 34px;
}

.overlay_post_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.post_link img {
  width: 78px;
  padding-left: 20px;
}

.overlay_post_footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.overlay_post_footer p {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 5px;
}

.ref_lightbox {
  font-family: "Poppins", sans-serif;
}

.cat_lightbox {
  font-family: "Space Mono", monospace;
  letter-spacing: 1.25px;
}

.btn_gallery {
  margin: 0 auto;
  margin-top: 4em;
  align-self: center;
}

/* 08_Personnalisation de la fenêtre lightbox Fancybox */
.fancybox-button {
  background: 0;
}

.fancybox-button--close {
  color: var(--main-bg-color);
  width: 66px;
  height: 66px;
}

.fancybox-button--arrowLeft {
  left: 20%;
}

.fancybox-button--arrowRight {
  right: 20%;
}

.fancybox-button--arrowLeft::before,
.fancybox-button--arrowRight::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 20px;
}

.fancybox-button--arrowLeft::before {
  background-image: url("../images/left_mobile.png");
}

.fancybox-button--arrowRight::before {
  background-image: url("../images/right_mobile.png");
}

.fancybox-button--arrowRight:hover,
.fancybox-button--arrowLeft:hover {
  transform: scaleX(1.2);
  transition: transform 0.3s;
}

.fancybox-button--arrowLeft,
.fancybox-button--arrowRight {
  position: relative;
}

.fancybox-button--arrowLeft {
  left: 0;
}

.fancybox-button--arrowRight {
  right: 0;
}

.fancybox-button--arrowLeft span,
.fancybox-button--arrowRight span {
  position: absolute;
  top: 13%;
  font-family: "Space Mono", monospace;
  font-size: 0.75rem;
  color: var(--main-bg-color);
  transition: font-weight 0.3s;
}

.fancybox-button--arrowRight span {
  right: 100%;
}

.fancybox-button--arrowLeft span:hover,
.fancybox-button--arrowRight span:hover {
  font-weight: 600;
}

/* 09_Listes déroulantes pour le filtrage des images */
.filtering_sorting_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 729;
}

.filters_category_format {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35.5rem;
  gap: 2rem;
}

.sorting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}

.select_container {
  width: 50vw;
  position: relative;
  user-select: none;
}

#year-filter {
  width: 25rem;
}

.select_container .placeholder_option {
  background: var(--main-bg-color);
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--input-border);
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  text-wrap: nowrap;
  letter-spacing: 0.3px;
  padding: 0.25rem;
}

.select_container .placeholder_option li {
  padding: 0.625rem 1.25rem;
}

.select_container .placeholder_option:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 42%;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-color: transparent transparent #555555 #555555;
  margin: 0 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.select_container .options_items_list {
  width: 100%;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background: var(--main-bg-color);
  border-radius: 8px;
  display: none;
}

.select_container .options_items_list li {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 1.25px;
  text-transform: capitalize;
  padding: 10px 20px;
  cursor: pointer;
}

.select_container .options_items_list .option {
  padding: 16px 20px;
}

.select_container .options_items_list li:hover {
  background: var(--hover_items);
  color: var(--main-text-color);
}

.select_container .options_items_list li:active {
  background: var(--selected_item);
  color: var(--main-bg-color);
}

.select_container .option_items,
.select_container .option {
  display: flex;
  align-items: center;
}

.select_container.active .options_items_list {
  padding: 0;
  display: block;
}

.select_container .option_items.selectedOption {
  background: var(--selected_item);
  color: var(--main-bg-color);
}

.select_container.active .placeholder_option:before {
  top: 50%;
  transform: rotate(-225deg);
}

/* A propos */
.main-page h1 {
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  font-style: italic;
}

.main-page-container {
  display: flex;
  flex-direction: column;
}

/* 10_Publication personnalisée sur une single-custom */
.post {
  display: flex;
  justify-content: center;
  margin: 3em auto;
  max-width: 1000px;
}

.post_container {
  display: flex;
  flex-direction: column;
}

.post_info_description_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.post_description td {
  padding-left: 10px;
}

.post_description_text {
  margin-right: 10px;
}

.post_description_text {
  vertical-align: bottom;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid var(--main-text-color);
  margin-right: 2em;
}

.post_description_text h2 span {
  font-family: "Space Mono", monospace;
  font-size: 4.125rem;
  font-weight: 400;
  font-style: italic;
  line-height: 58px;
  width: 25vw;
  margin-bottom: 0;
  margin-right: 2em;
}

.post_description_text p,
.post_description_text p a {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  color: var(--main-text-color);
  line-height: auto;
  letter-spacing: 1.5px;
}

.post_description_text p:last-child {
  padding-bottom: 1.025rem;
}

.post_description_img > img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  vertical-align: bottom;
}

tr.post_info td {
  padding: 0.5em 0 1em 0;
  overflow: hidden;
}

tbody {
  border-bottom: 1px solid var(--main-text-color);
}

.post_info_cta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  padding-top: 1.5em;
}

.post_info_cta p {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  text-wrap: nowrap;
  margin-right: 4em;
}

.btn_post_info {
  margin-top: 0;
  margin-left: 2em;
}

/* 11_Navigation entre les publications personnalisées */
.post_info_carousel_container {
  width: 50%;
  position: relative;
  height: auto;
}

tr.post_info td.post_info_carousel_container {
  margin-left: auto;
}

.post_info_carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.preview_thumbnail {
  display: flex;
  width: 81px;
  height: 71px;
}

.preview_thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.arrows_container {
  display: flex;
  margin-top: 1em;
}

.prev a {
  display: flex;
  width: 26px;
  height: 8px;
  background: url("../images/precedente.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-right: 2em;
}

.next a {
  display: flex;
  background: url("../images/suivante.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  width: 26px;
  height: 8px;
}

.prev a,
.next a {
  width: 26px;
  height: 8px;
}

/* 12_Footer */
.bottom {
  /* position: fixed; */
  width: 100%;
  height: 40px;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: var(--main-bg-color);
  border-top: 1px solid var(--main-text-color);
  margin-top: auto;
}

.bottom_menu_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom_menu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.bottom_menu li {
  display: flex;
  text-wrap: nowrap;
  padding-right: 1em;
}

.bottom_menu a {
  font-size: 1rem;
  color: var(--main-text-color);
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: all 200ms;
}

@import url(./media-queries.css);
